{% extends 'base.html' %}

<!--bloco de titulo-->
{% block titulo %}
HomeFilmes Hashflix
{% endblock %}

<!--bloco de conteudo-->
{% block content %}
<div class="py-12">
    <h1>Esta é a nossa HomeFilmes</h1>
    {% for filme in lista_filmes %}
    <hr>
        <!--exibir uma variavel do python-->
    <p> {{ filme }} </p>
    <p> {{ filme.descricao }} </p>
    <img src="{{ filme.thumb.url }}">
    {% endfor %}
</div>
{% endblock %}

<!-- criar uma url para ela na url.py-->
