{% load static %}
<!-- fuul = largura tela, flex= como os itens vão ficar , justify-between = distanciamento-->
<nav class=" w-full flex justify-between items-center py-3 px-4 fixed z-50">

    <div class="w-6/12">
        <a href="/">
           <img class="w-2/12" src="{% static 'images/hashflix.png' %}">
        </a>
    </div>

    <div class="w-6/12 flex flex-no-wrap justify-end">  <!--inicio da div com botoes-->
        
        <div class="mr-2"> <!--codigo que redireciona a pesquisa para a url da pagina pesquisafilme-->
            <form method="get" action="{% url 'filme:pesquisafilme' %}">               <!--esse value mantem o nome pesquisado avista-->
                <input type="text" class="py-1 px-2 rouded-md text-black" name="query" value="{{ request.GET.query }}" placeholder="Pesquiar...">
                <input type="submit" value=""><!--como se fossse um botão que envia a informação-->
            </form>

        </div>
         <div class="mr-2">
            <a>
                 <button class="bg-red-600 text-white py-1 px-3 rounded-md">
                 Login
              </button>
            </a>

        </div>

         <div class="mr-2">
             <a>
                  <button class="bg-red-600 text-white py-1 px-3 rounded-md">
                  Editar Perfil
                  </button>
             </a>

        </div>

     </div>    <!--fim da div com botoes-->


</nav>
